@media screen and (max-width: 1357px) {
	body {
		font-size: 11px;
	}
	.navbar-header {
		max-width: 425px;
	}
	.sec2 span, .icon-list, #icons2.conferences ul li, .icon2team1 span {
		font-size: 16px;
	}
	#icons2.conferences ul li {
		min-height: 70px;
	}
	.text p {
		font-size: 26px;
	}
	#tf-menu.navbar-default .navbar-nav > li > a {
		width: 57px;
		height: 41px;
		overflow: hidden;
	}
	.ul-title {
		font-size: 21px;
	}
	#directions .hdr1 {
		margin-top: 25px;
	}
	.sec3 {
		background-position: 87% center;
	}
}
@media screen and (orientation: portrait) and (max-width: 992px) {
	.heading {
		height: auto;
	}
	.heading h1 {
		padding-top: 35%;
		position: relative;
	}
	.heading span {
		position: relative;
		bottom: 0;
	}
	.sec1 {
		position: initial;
		clear: both;
		padding: 30px 0 0;
	}
	.sec1-1 {
		position: initial;
		clear: both;
		padding: 30px 0;
	}
	#icons2.conferences {
		background-image: none;
	}
	#directions .directions-bg {
		padding: 130px 25px;
	}
}
@media screen and (orientation: landscape) and (max-width: 992px), 
		screen and (orientation: landscape) and (max-height: 577px) {
	.heading {
		height: auto;
	}
	.heading h1 { 
		padding-top: 17%;
		position: relative;	
	}
	.heading span {
		position: relative;
		bottom: 0;
	}
	.sec1 {
		position: initial;
		clear: both;
		padding: 30px 0 0;
	}
	.sec1-1 {
		position: initial;
		clear: both;
		padding: 30px 0;
	}
	#directions .directions-bg-bottom {
		margin-top: -310px;
		height: 650px;
	}
}

@media screen and (max-width: 766px) {
	#tf-menu.navbar-default .navbar-nav > li > a {
		width: 100%;
		height: 47px;
		overflow: hidden;
		text-align: center;
	}
	.sec2 .text {
		padding: 0;
	}
	.label-text > img,
	.circle4 {
		display: none;
	}
	.details2 {
		position: relative;
		bottom: -20px;
		margin: 0 auto;
	}
	.service-text {
		width: 100%;
		text-align: center;
	}
	.label-text {
		padding-left: 0px;	
	}
	.label-text > h4 {
		font-size: 27px;
		margin: 0;
		line-height: 25px;
	}
	.sert-text-block b {
		font-size: 30px;
	}
	.sert-name-under {
		font-size: 17px;
	}
	.sert-add-text {
		margin: 0;
	}
	.sert-text-block p {
		font-size: 21px;
	}
	.label-text > small {
		font-size: 9px;
		text-transform: uppercase;
	}
	.left-pos, .right-pos {
		width: 100px;
	}
	.sec3 {
		background-position: 47% center;
	}
	.sec3 .hdr3 {
		display: block!important;
		line-height: 35px;
		text-align: center;
	}
	.sec3 ul.out > li {
		margin-left: -25px;
		background-image: none;	
	}
	.sec3 .hdr1 {
		font-size: 33px;
		text-align: center;
	}
	#directions .directions-bg-top {
		bottom: -25px;
		min-height: 170px;
	}
	#directions .directions-bg-bottom {
		margin-top: -110px;
		height: 270px;
	}
	#directions .hdr2 {
		font-size: 40px;
		line-height: 37px;
		padding-bottom: 15px;
		text-align: center;
	}
	.webex-circles .btn-cont a{
		font-size: 10px;
	}
	.content h1 {padding: 37% 13px 10%}
}
@media screen and (max-width: 480px) {
	.navbar-header {
		width: 100%;
	}
}
@media screen and (max-width: 370px) {
	#directions .directions-bg-top {
		bottom: -25px;
		min-height: 70px;
	}
	.phone-moda {
		clear: both;
		width: 100%;
	}
	#tf-menu { 
		padding-bottom: 0;
	}
	
	#directions .hdr1 {
		font-size: 25px;
	}
	#directions .hdr2 {
		font-size: 27px;
	}
	#directions .hdr3 {
		padding: 7px 10px;
	}
	#directions ul.out > li ul{
		margin-left: -45px;
	}
}

@media (max-width: 360px){
    .hover-bg .label-text {
        padding: 1px 5%;
    }
}

