---
layout: default
---

{{ content }}

<footer class="podval" id="podval">
    <div class="devide-footer">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 addr">
                <div class="addr-text">
                    <p><strong>Офис для корпоративных клиентов и агентств</strong>: 
                        <br>ул. Маршала Рыбалко, дом 2, корпус 8
                        <br>M. Октябрьское поле
                        <br>г. Москва, Россия
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 contact">
                <div class="contact-text">
                    <p><strong>Модная линия 24/7</strong></p>
                    <p>+7 (499) 647 88 07
                        <br>+7 (985) 760 01 31
                        <br>mail@modacafe.travel</p>                    
                    <a href="#" class="call">Заказать звонок</a>
                </div>
            </div>
        </div>

        <hr>

        <p class="copyright">© Туроператор «Modacafe Travel» 2018<br>
Все права защищены. Копирование и распространение материалов сайта без письменного согласия запрещено.</p>
    </div>
</footer>
